input[type="radio"]{
    display: none;
}
.container{
    max-width: 600px;
    margin: 0 auto;
}
.meme-heading{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading-text{
    display: inline-block;
}
.meme-img{
    display: block;
    height: 0;
    /*aspect-ratio: 1 / 1;*/
    margin: 0 auto;
    transition: height .5s;
}
.heading-icon{
    display: inline-block;
    height: 80%;
    aspect-ratio: 1/1;
    background-image: url("./assets/add-icon.svg");
    background-position: center;
    background-size: cover;
    transition: all .1s;
}
input[type="radio"]:checked ~ .meme-img, label:hover > .meme-img{
    height: 300px;
    transition: height .5s;
}
input[type="radio"]:checked ~ .meme-heading > .heading-icon, label:hover > .meme-heading > .heading-icon{
    background-image: url("./assets/close-icon.svg");
    transition: all .1s;
}
